:root {
  --mono-hue: 201;
  --mono-saturation: 18%;

  /* --mono-shade3: hsl(var(--mono-hue), var(--mono-saturation), 13%); */
  /* --mono-shade2: hsl(var(--mono-hue), var(--mono-saturation), 15%);
  --mono-shade1: hsl(var(--mono-hue), var(--mono-saturation), 17%);
  --mono-base: hsl(var(--mono-hue), var(--mono-saturation), 19%);
  --mono-tint1: hsl(var(--mono-hue), var(--mono-saturation), 25%);
  --mono-tint2: hsl(var(--mono-hue), var(--mono-saturation), 35%);
  --mono-tint3: hsl(var(--mono-hue), var(--mono-saturation), 43%);*/

  /* --spinner-track-color: rgba(255, 255, 255, 0.15); */

  /* --base-background-color: var(--mono-base); */
  /*--base-color: #d3d3d3;

  --hr-border: 1px solid var(--mono-tint2);

  --mark-background: #ffcb6b;
  --mark-color: var(--base-background-color);

  --blockquote-background: var(--mono-shade2);

  --code-inline-background: var(--mono-tint1);
  --code-theme-background: var(--mono-shade2);

  --heading-color: #fff;
  --heading-h2-border-color: var(--mono-tint2);

  --kbd-background: var(--mono-shade2);
  --kbd-border: none;
  --kbd-color: var(--strong-color);

  --notice-important-background: var(--mono-shade2);

  --notice-tip-background: var(--mono-shade2);

  --table-cell-border-color: var(--mono-tint1);
  --table-row-odd-background: var(--mono-shade2);

  --cover-background-color: var(--base-background-color);
  --cover-background-image: radial-gradient(
    ellipse at center bottom,
    var(--mono-tint3),
    transparent
  );

  --cover-blockquote-color: var(--mark-background);

  --cover-button-border: 1px solid var(--mono-tint3);
  --cover-button-color: #fff;

  --navbar-menu-background: var(--mono-tint1);
  --navbar-menu-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px,
    rgba(0, 0, 0, 0.05) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 4px 8px,
    rgba(0, 0, 0, 0.05) 0px 8px 16px, rgba(0, 0, 0, 0.05) 0px 16px 32px;

  --copycode-background: var(--mono-tint1);
  --copycode-color: #fff;

  --docsifytabs-border-color: var(--mono-tint2);

  --docsifytabs-tab-background: var(--mono-shade1);
  --docsifytabs-tab-color: var(--mono-tint2);

  --pagination-border-top: 1px solid var(--mono-tint2);
  --pagination-title-color: #fff;

  --search-input-background-color: var(--mono-shade2);
  --search-input-border-color: var(--mono-tint1);
  --search-input-placeholder-color: rgba(255, 255, 255, 0.4);

  --search-clear-icon-color1: rgba(255, 255, 255, 0.3);

  --sidebar-background: var(--mono-shade1);
  --sidebar-border-color: var(--mono-tint1); */
}
